
#sumary{
	background-color:#ffe6cc;
	font-family:courier ;
	font-size:120%;

}
	
	#fullname{
		
		font-size:300%;
	}
	
	.bodycontant{
		
  text-align: center;

	}
	
	#personalimg{
		width:30%;
		
	}
	a {
		font-size:120%;
		
	}
	h2{
		font-size:200%;
	}
	
	ul{
				font-size:110%;

	}